extends layout

block content

	// -------------------- Landing Components ------------------- //
	.landing-window
		.head Tune the Air
		.subhead Create & share a live Youtube playlist of songs with your friends!
		.screenshot
		<input type='text' id='yturl'>
		<div id = 'ytplayer'></div>
		<div id = 'songqueue'></div>
		button#new-room.btn.btn-primary.btn-large Start mixing!
		p - or -
		.form#join-room
			input#submit-roomID.search-query(type='text', placeholder='Enter a room ID')

	// -------------------- Main App Components ------------------- //

	.main-components

		// -------------------- Navbar (Top) ------------------- //
		.navbar
			.navbar-inverse
				.navbar-fixed-top
					.navbar-inner
						.container
							.pull-left
								ul.nav
									li
										a(href='') Home
								.nav
									form#video-search
										.navbar-search 
											input#room-sharer.search-query.span7(type='text', placeholder='Add a new track...')

		// -------------------- Sidebar (Left) ------------------- //
		.sidebar-left
			.video-preview
				.icon
					img(src='/images/video.png');
				.info
			.video-preview
				.icon
					img(src='/images/video.png');
				.info
			.video-preview
				.icon
					img(src='/images/video.png');
				.info

		// -------------------- App Window ------------------- //
		.app-window
			.room-name The Big Hack 2013
			.room-ID Share this room: <input type="text" class="input-medium search-query">
			.video-curr