extends layout

block content

	// -------------------- Landing Components ------------------- //
	.landing-components

		.hero-container
			.head Tune the Air
			img#logo(src='/images/logo.png');
			.subhead Transform any audio player into speakers powered by the cloud.
			button#new-room.btn.btn-primary.disabled(type='button', data-loading-text='Generating room...') Initializing...
			p — or —
			.form
				input#submit-roomID.search-query(type='text', placeholder='Join an existing room via ID')

		.share-window

			// Fork button (Github)
			iframe(src='http://ghbtns.com/github-btn.html?user=rzhou186&repo=tunetheair&type=fork', allowtransparency='true', frameborder='0', scrolling='0', width='53', height='20')

			// Like button (Facebook)
			.fb-like(data-href='http://tunetheair.herokuapp.com', data-send='false', data-layout='button_count', data-width='450', data-show-faces='false')

			// Tweet button (Twitter)
			a.twitter-share-button(href='https://twitter.com/share', data-lang='en') Tweet
			script
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			// +1 button (Google+)
			.g-plusone(data-size='medium')
			script(type='text/javascript')
				(function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				})();

		.marketing
			h1 Introducing Tune the Air.
			p.lead Need reasons to love Tune the Air? Look no further.
			.row-fluid
				.span4
					img(src='/images/logo.png');
					p.lead 
				.span4
					img(src='/images/logo.png');
					p.lead Everyone becomes the DJ.
				.span4
					img(src='/images/logo.png');
					p.lead Big data and shit.

	// -------------------- Main App Components ------------------- //

	.main-components

		// -------------------- Navbar (Top) ------------------- //
		.navbar
			.navbar-inverse
				.navbar-fixed-top
					.navbar-inner
						.container
							.pull-left
								ul.nav
									li
										a(href='') Home
								.nav
									.navbar-search
										input#yturl.search-query.span7(type='text', placeholder='Add a new track...')
								ul.nav
									li
										a#leave-room(href='') Leave Room

		// -------------------- Sidebar (Left) ------------------- //
		.sidebar-left#sbl

		// -------------------- App Window ------------------- //
		.app-window
			.room-name The Big Hack 2013
			.room-ID Share this room: <input type="text" id="room-id" class="input-medium search-query" readonly="true">
						<br><br>
						<div id = 'ytplayer'></div>
