doctype 5
html

	head
		title Tune the Air		

		// -------------------- Stylesheets -------------------- //
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		// Like button (Facebook)
		#fb-root
		script
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

	body

		block content

		// -------------------- Navbar (Bottom) ------------------- //
		.navbar
			.navbar-inverse
				.navbar-fixed-bottom
					.navbar-inner
						.container
							ul.nav
								li
									a A Jan Dlabal, Ray Zhou, and Shubham Goel Production

		// -------------------- Javascripts -------------------- //
		script(src='/javascripts/Queue.js')
		script(src='/javascripts/youtube.js') 
		script(src='/javascripts/jquery-1.9.1.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/cookies.js')   
		script(src='/javascripts/websockets.js')
		script(src='/javascripts/style.js')
		script(src='/javascripts/main.js')

