body {
	background-image: url('/images/square_bg.png');
	background-repeat: repeat;
	overflow: visible;
}

.navbar-fixed-top {
	font-weight: bold;
}

.navbar-fixed-bottom .container .nav > li > a {
	font-weight: bold;
	color: #ffffff;
}

.navbar-fixed-bottom .container > .nav {
	float: none;
	display: inline-block;
}

.navbar-fixed-bottom .container {
	text-align: center;
	height: 40px;
}

.app-window {
	padding: 40px 20px 20px 20px;
}

.app-window .playlist {
	background-color: #333333;
	color: #ffffff;
	border: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.6);
	float: left;
	width: 878px;
}

.app-window .playlist .title {
	border-bottom: solid;
	font-size: 18px;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.6);
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
}

.app-window .playlist .song {
	padding: 0px 10px 8px 10px;
}