.main-components {
	display: none;
}

.landing-components {
	/*display: none;*/
	overflow: auto;
	text-align: center;
	padding-bottom: 70px;
}

.landing-components .share-window {
	width: 100%;
	padding: 12px 0px 10px 0px;
	background-color: #F5F5F5;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #DDDDDD;
	border-top-style: solid;
	border-top-width: 1px;
}

.fb-like {
	top: -3px;
	margin-right: 20px;
	margin-left: 20px;
}

.landing-components .hero-container {
	/*display: none;*/
	background-image: url('/images/clouds.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
			 -o-background-size: cover;
	padding: 100px 0px 0px 0px;
	width: 100%;
	height: 350px;
}

.landing-components .hero-container #logo{
	display: inline;
	height: 200px;
	margin-top: -80px;
	margin-left: 20px;
}

.landing-components .hero-container .head {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 120px;
  display: inline;
}

.landing-components .hero-container .subhead {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.landing-components .hero-container .btn {
	display: inline-block;
	width: 300px;
	height: 50px;
	font-size: 18px;
}

.landing-components .hero-container p {
	display: inline-block;
	margin: 0px 20px 0px 20px;
	font-size: 18px;
	font-weight: bold;
	margin: 0px 40px 0px 40px;
}

.landing-components .hero-container .form{
	display: inline-block;
}

.landing-components .hero-container .form input{
	width: 250px;
}

.navbar-fixed-top {
	font-weight: bold;
}

.navbar-fixed-bottom .container .nav > li > a {
	font-weight: bold;
	color: #ffffff;
}

.navbar-fixed-bottom .container > .nav {
	float: none;
	display: inline-block;
}

.navbar-fixed-bottom .container {
	text-align: center;
	height: 40px;
}

.sidebar-left {
	background-image: url("/images/fabric_of_squares_gray.png");
  background-repeat: repeat;
	position: fixed;
	left: 0;
	top: 40px;
	width: 400px;
	height: calc(100% - 80px);
	overflow-y: auto;
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
}

.sidebar-left .video-preview {
	background-color: #ffffff;
	padding: 0px 30px 0px 30px;
	min-height: 130px;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.sidebar-left .video-preview .icon {
	display: inline-block;
	padding-top: 30px;
	padding-bottom : 30px;
	padding-right: 20px;
	width: 100px;
	height : 100px;
}

.sidebar-left .video-preview .info {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
}

.app-window {
	position: fixed;
	right: 0;
	top: 40px;
	/*height: calc(100% - 230px);*/
	width: calc(100% - 301px);
	padding: 75px 0px 75px 0px;
	text-align: center;
	overflow: auto;
}

.app-window .room-name {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 50px;
  margin-bottom: 50px;
}

.app-window .room-ID {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 18px;
	margin-bottom: 50px;
}

.app-window .room-ID input {
	margin-left: 10px;
	display: inline-block;
}

.app-window .video-curr {
	background-color: red;
	height: 350px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
