.main-components {
	display: none;
}

.landing-window {
	/*display: none;*/
	background-image: url('/images/clouds.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
			 -o-background-size: cover;
	z-index: 900000;
	position: fixed;
	padding: 70px 0px 40px 0px;
	top: 0px;
	width: 100%;
	height: calc(100% - 150px);
	overflow: scroll;
	text-align: center;
}

.landing-window .head {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 70px;
  margin-bottom: 50px;
}

.landing-window .subhead {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 24px;
	margin-bottom: 45px;
}

.landing-window .btn {
	display: inline-block;
	width: 200px;
}

.landing-window p {
	display: inline-block;
	margin: 0px 20px 0px 20px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 18px;
	font-weight: bold;
}

.landing-window .form{
	display: inline-block;
}

.landing-window .form input{
	width: 200px;
}

.navbar-fixed-top {
	font-weight: bold;
}

.navbar-fixed-bottom .container .nav > li > a {
	font-weight: bold;
	color: #ffffff;
}

.navbar-fixed-bottom .container > .nav {
	float: none;
	display: inline-block;
}

.navbar-fixed-bottom .container {
	text-align: center;
	height: 40px;
}

.sidebar-left {
	background-image: url("/images/fabric_of_squares_gray.png");
  background-repeat: repeat;
	position: fixed;
	left: 0;
	top: 40px;
	width: 300px;
	height: calc(100% - 80px);
	overflow-y: scroll;
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
}

.sidebar-left .video-preview {
	background-color: #ffffff;
	padding: 0px 30px 0px 30px;
	min-height: 150px;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.sidebar-left .video-preview .icon {
	display: inline-block;
	padding-top: 50px;
	padding-right: 20px;
	width: 50px;
}

.sidebar-left .video-preview .info {
	display: inline-block;
	width: 170px;
}

.app-window {
	position: fixed;
	right: 0;
	top: 40px;
	/*height: calc(100% - 230px);*/
	width: calc(100% - 301px);
	padding: 75px 0px 75px 0px;
	text-align: center;
	overflow: scroll;
}

.app-window .room-name {
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 50px;
  margin-bottom: 50px;
}

.app-window .room-ID {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 18px;
	margin-bottom: 50px;
}

.app-window .room-ID input {
	margin-left: 10px;
	display: inline-block;
}

.app-window .video-curr {
	background-color: red;
	height: 350px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
